abstract=Demonstration repo for TRO vocabulary
ontologyTitle=Transparent Research Object Vocabulary
ontologyPrefix=trov
ontologyNamespaceURI=https://w3id.org/trace/trov#
ontologyName=trov
thisVersionURI=
latestVersionURI=https://w3id.org/trace/trov
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=0.1
licenseURI=https://creativecommons.org/licenses/by-sa/4.0/
licenseName=CC BY-SA 4.0
licenseIconURL=
citeAs=
DOI=
status=Draft
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=First Author
authorsURI=
authorsInstitution=First author institution
authorsInstitutionURI=http://firstAuthorinstitution.org
contributors=Additional Contributor
contributorsURI=
contributorsInstitution=Additional contributor instution
contributorsInstitutionURI=http://contributorinstitution.org
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=trov.rdf
TurtleSerialization=trov.ttl
N3Serialization=trov.nt
JSONLDSerialization=trov.json
